body {
  background-image: url('images/theater.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Change text color and font size of h1 element */
h1 {
  color: white;
  font-size: 70px;
}

/* Style the button */
button {
  padding: 20px 30px; /* Reduced padding */
  font-size: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px; /* Adjusted margin-bottom */
  margin-right: 20px; /* Adjusted margin-right */
}

/* Change button background color on hover */
button:hover {
  background-color: whitesmoke;
}

/* Center content vertically */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 75px;
}

/* Adjust genre display text position */
.genre-Display {
  margin-top: 20px; /* Adjusted margin-top */
}

/* Style for fullscreen genre display */
.genre-display.fullscreen {
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 40px;
  text-align: center;
}